
.game {
    margin: 10px;
}

.game .buttons {
    width: 100%;
    margin: 20px 0px;
}

.buttons button {
    width: 40%;
    padding: 10px;
    margin: 0px 5%;
    border-style: none;
    border-radius: 0;
}